<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>345</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx3.sinaimg.cn/mw690/006beUyPgy1fhlhputhlyj305k09l74l.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>365</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx4.sinaimg.cn/mw690/006beUyPgy1fhlhpuuc6xj305k0a5dfz.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>255</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx4.sinaimg.cn/mw690/006beUyPgy1fhlhpusf5qj305k073mx6.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>477</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx1.sinaimg.cn/mw690/006beUyPgy1fhlhpuulbzj305k0d9q3o.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>362</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx1.sinaimg.cn/mw690/006beUyPgy1fhlhpuu4gbj305k0a2wej.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>263</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx3.sinaimg.cn/mw690/006beUyPgy1fhlhpusipbj305k07b3yh.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>342</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx1.sinaimg.cn/mw690/006beUyPgy1fhlhpuzcr0j305k09imxe.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>247</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx4.sinaimg.cn/mw690/006beUyPgy1fhlhpuyihzj305k06vq2y.jpg</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>229</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx2.sinaimg.cn/mw690/006beUyPgy1fhlhpuyqw7j305k06d74d.jpg</string>
	</dict>
</array>
</plist>
