<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>这一段代码是关于循环队列的实现：\n \n    我们假设一个队列有n个元素，则顺序存储的队列需建立一个大于n的数组，并把队列的所有元素存储在数组的前n个单元，数组下标为0的一端即是队头。所谓的入队列操作，其实就是在队尾追加一个元素，不需要移动任何元素，因此时间复杂度为0(1)。\n \n 与栈不同的是，队列元素的出列是在队头，即下标为0的位置，那也就意味着，队列中的所有元素都得向前移动，以保证队列的队头（也就是下标为0的位置）不为空，此时的时间复杂度为0(n)。\n \n 为了避免当只有一个元素时，队头和队尾重合使处理变得麻烦，所以引入两个指针，front指针指向队头元素，rear指针指向队尾元素的下一个位置，这样当front等于rear时，此队列不是还剩一个元素，而是空队列。\n \n    问题还不止于此。假设这个队列的总个数不超过5个，但目前如果接着入队的话，因数组末尾元素已经占用，再向后加，就会产生数组越界的错误，可实际上，我们的队列在下标为0和1的地方还是空闲的。我们把这种现象叫做“假溢出”。</string>
		<key>h</key>
		<integer>345</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx3.sinaimg.cn/mw690/006beUyPgy1fhlhputhlyj305k09l74l.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>自学简单来说就是多看看画画书，看画家怎么画，看不同的画，看的越多越好。\n \n    豆瓣、视频网站都有很多大神可以让你学习。\n \n    多试试不同的纸、笔、颜料，试不同的画法。多画练习会提高技巧，这个不用特意说了。这其中，没有任何窍门。不会有人有更快更好能学会水彩的方法。\n \n    你要针对自己的问题，去改进并学习技能。\n \n    例如我一开始画水彩时，发现对明暗度掌握的不好。就放弃水彩，专门改画黑白的钢笔画。坚持几个月后，再回头画水彩，就有改善。\n \n    在每开始画之前，都会想好用什么手法去画。除了初期的一些画以外，都是自创画和临摹自己的照片。这样可以锻炼你的画画思维，这是很多人容易忽略的一步。\n \n    临摹别人已经画好的画，你就少做了很多有意义的思考，如光线，布局，色彩控制等很多画画必要的技巧。基本觉得很难，坚持下去，并善于思考，会有更显著的效果。这些是我的个人经验。虽然我画的很少，有时一个月才画一幅，可是每次都感觉到有一些进步。很多人最容易遇到的问题就是对水和颜料比例的控制。水彩是很有灵性的东西，因为你不能完全控制画画时的水。但是可以通过练习，掌握基本的手法。这些可以自己慢慢去研究。常用的有湿加湿，湿加干，干加干等。也可以利用水的性质来做渲染，容色等。自己可以慢慢通过多练、多画来学习。</string>
		<key>h</key>
		<integer>365</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx4.sinaimg.cn/mw690/006beUyPgy1fhlhpuuc6xj305k0a5dfz.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>     3d建模应该如何掌握?  \n \n    我们的很多学员都有这种困惑，看了一大堆教程，就是不知道从何下手。其实吧，送大家一个字就够了：Just do it! \n \n    没错，就这三个字，你别管从哪下手，做就是了。\n \n    跟着视频一步步开始做  不要只看视频那样你会很容易睡着。先从一个box开始掌握那几个基础建模命令。可以跟着视频从一个小骰子 小桌子做起 \n \n    小桌子就是一个大box 四个小box 再慢慢深入建有的些弯曲的椅子 房子之类的，当你建出一个房子的时候你会非常有成就感 ，可以再建造一点简单的坦克啊 船啊 之类的 \n  \n    当你已经可以不看视频建造出各种简单道具房子的时候你就可以开始学习建人或者生物了。关键就是多做 应当注意会建模很重要但贴图一样重要 最好先学会简单建模以后 学习贴图材质的赋予 掌握一整套流程。如果实在觉得很难上手 可以去网上下载一个别人的模型 规整一点的 然后看他们的模型布线 什么的 可以把他们的模型导进来自己对着别人好的模型做 可以将别人的模型拆分开来 分析做模型的思路</string>
		<key>h</key>
		<integer>255</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx4.sinaimg.cn/mw690/006beUyPgy1fhlhpusf5qj305k073mx6.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>二叉树：\n  \n    在计算机科学中，二叉树是每个节点最多有两个子树的树结构。通常子树被称作“左子树”（left subtree）和“右子树”（right subtree）。二叉树常被用于实现二叉查找树和二叉堆。\n \n    二叉树的每个结点至多只有二棵子树(不存在度大于2的结点)，二叉树的子树有左右之分，次序不能颠倒。二叉树的第i层至多有2^{i-1}个结点；深度为k的二叉树至多有2^k-1个结点；对任何一棵二叉树T，如果其终端结点数为n_0，度为2的结点数为n_2，则n_0=n_2+1。\n  \n    一棵深度为k，且有2^k-1个节点的二叉树，称为满二叉树。这种树的特点是每一层上的节点数都是最大节点数。而在一棵二叉树中，除最后一层外，若其余层都是满的，并且最后一层或者是满的，或者是在右边缺少连续若干节点，则此二叉树为完全二叉树。具有n个节点的完全二叉树的深度为log2n+1。深度为k的完全二叉树，至少有2^(k-1)个节点，至多有2^k-1个节点。</string>
		<key>h</key>
		<integer>477</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx1.sinaimg.cn/mw690/006beUyPgy1fhlhpuulbzj305k0d9q3o.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>水粉画：\n  \n    水粉画是使用水调合粉质颜料绘制而成的一种画。其表现特点为处在不透明和半透明之间，色彩可以在画面上产生艳丽、柔润、明亮、浑厚等艺术效果。\n \n    含粉对水色流畅的活动性会产生一定限制。水粉画在湿的时候，颜色的饱和度很高，干后则由于粉的作用及颜色失去光泽，饱和度大幅度降低，这就是它颜色纯度的局限性。学习水粉画可以很好的认识色彩，对颜色的透明度有一个新的认识，在学习水粉画的过程中可以学会怎样去调色，进一步的了解色彩对水粉画的重要性。\n \n    水粉画的性质和技法，与油画和水彩画有着紧密的联系。是介于油画和水彩之间的一种画种，它与水彩画一样都使用水溶性颜料，颜料成分和透明水彩颜料相同 [1]  。如用不透明的水粉颜料以较多的水分调配时，也会产生不同程度的水彩效果，但在水色的活动性与透明性方面，则无法与水彩画相比拟。一般水粉画所展示出的反光效果和透明水彩画的明亮效果大不一样，因此，水粉画一般并不使用多水分调色的方法，而采用白粉色调节色彩的明度，以厚画的方法来显示自己独特的色彩效果。这一点近似于油画的绘制方法。因为不透明的水粉颜料与油画颜料都是具有遮盖力的颜料，所以水粉画是介于水彩画与油画之间的一个画种，它是通过吸取水彩画与油画的某些方法与技巧而发展形成自己的技法体系的。 \n \n    如果在有颜色的底子上覆盖或叠加，那么这个过程，实际上是一个加法，底层的色彩多少都会对表层的颜色产生影响，这也就是它较难掌握的地方。但是，有经验的画家往往就是利用它的这种特性来表达水粉色彩自身的和特有的艺术魅力。</string>
		<key>h</key>
		<integer>362</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx1.sinaimg.cn/mw690/006beUyPgy1fhlhpuu4gbj305k0a2wej.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>系统建模主要用于三个方面。\n \n    ①分析和设计实际系统。例如工程界在分析设计一个新系统时，通常先进行数学仿真和物理仿真实验，最后再到现场作实物实验。数学仿真比物理仿真简单、易行。用数学仿真来分析和设计一个实际系统时，必须有一个描述系统特征的模型。对于许多复杂的工业控制过程，建模往往是最关键和最困难的任务。对社会和经济系统的定性或定量研究也是从建模着手的。例如在人口控制论中，建立各种类型的人口模型，改变模型中的某些参量，可以分析研究人口政策对于人口发展的影响。\n \n    ②预测或预报实际系统的某些状态的未来发展趋势。预测或预报基于事物发展过程的连贯性。例如根据以往的测量数据建立气象变化的数学模型，用于预报未来的气象。\n \n    ③对系统实行最优控制。运用控制理论设计控制器或最优控制律的关键或前提是有一个能表征系统特征的数学模型。在建模的基础上，再根据极大值原理、动态规划、反馈、解耦、极点配置、自组织、自适应和智能控制等方法，设计各种各样的控制器或控制律。 系统建模主要用于3个方面对于同一个实际系统，人们可以根据不同的用途和目的建立不同的模型。但建立的任何模型都只是实际系统原型的简化，因为既不可能也没必要把实际系统的所有细节都列举出来。如果在简化模型中能保留系统原型的一些本质特征，那么就可认为模型与系统原型是相似的，是可以用来描述原系统的。因此，实际建模时，必须在模型的简化与分析结果的准确性之间作出适当的折中，这常是建模遵循的一条原则。
舞台音响建模 示例图
舞台音响建模 示例图
个新系统时，通常先进行数学仿真和物理仿真实验，最后再到现场作实物实验。数学仿真比物理仿真简单、易行。用数学仿真来分析和设计一个实际系统时，必须有一个描述系统特征的模型。对于许多复杂的工业控制过程，建模往往是最关键和最困难的任务。对社会和经济系统的定性或定量研究也是从建模着手的。例如在人口控制论中，建立各种类型的人口模型，改变模型中的某些参量，可以分析研究人口政策对于人口发展的影响。\n \n    </string>
		<key>h</key>
		<integer>263</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx3.sinaimg.cn/mw690/006beUyPgy1fhlhpusipbj305k07b3yh.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>确立构图\n \n    推敲构图的安排，使画面上物体主次得当，构图均衡而又有变化，避免散、乱、空、塞等弊病。\n \n    形体结构 \n \n    用长直线画出物体的形体结构(物体看不见部分也要轻轻画出），要求物体的形状、比例、结构关系准确。再画出各个明暗层次(高光、亮部、中间色、暗部，投影以及明暗交接线)的形状位置。\n \n    逐步深入塑造 \n \n    通过对形体明暗的描绘(从整体到局部，从大到小)逐步深入塑造对象的体积感。对主要的、关键性的细节要精心刻划。\n \n 调整完成\n \n  深入刻划时难免忽视整体及局部间相互关系。这时要全面予以调整(主要指形体结构还包括色调、质感、空间、主次等等)，做到有所取舍、突出主体</string>
		<key>h</key>
		<integer>342</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx1.sinaimg.cn/mw690/006beUyPgy1fhlhpuzcr0j305k09imxe.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>(1) 运动中速度与距离的互求问题 \n \n    已知物体移动的距离  表为以时间为变量的函数  ，求物体在任意时刻的速度和加速度；反过来，已知物体的加速度表为以时间为变量的函数公式，求速度和距离。这类问题是研究运动时直接出现的，困难在于，所研究的速度和加速度是每时每刻都在变化的。比如，计算物体在某时刻的瞬时速度，就不能像计算平均速度那样，用移动的距离去除运动的时间，因为在给定的瞬间，物体移动的距离和所用的时间是  ，而  是无意义的。但是，根据物理，每个运动的物体在它运动的每一时刻必有速度，这也是无疑的。已知速度公式求移动距离的问题，也遇到同样的困难。因为速度每时每刻都在变化，所以不能用运动的时间乘任意时刻的速度，来得到物体移动的距离。\n \n    (2) 求曲线的切线问题 \n \n    这个问题本身是纯几何的，而且对于科学应用有巨大的重要性。由于研究天文的需要，光学是十七世纪的一门较重要的科学研究，透镜的设计者要研究光线通过透镜的通道，必须知道光线入射透镜的角度以便应用反射定律，这里重要的是光线与曲线的法线间的夹角，而法线是垂直于切线的，所以总是就在于求出法线或切线；另一个涉及到曲线的切线的科学问题出现于运动的研究中，求运动物体在它的轨迹上任一点上的运动方向，即轨迹的切线方向。\n \n    </string>
		<key>h</key>
		<integer>247</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx4.sinaimg.cn/mw690/006beUyPgy1fhlhpuyihzj305k06vq2y.jpg</string>
	</dict>
	<dict>
		<key>word</key>
		<string>国画一词起源于汉代，汉朝人认为中国是居天地之中者，所以称为中国，将中国的绘画称为“中国画”，简称“国画”。主要指的是画在绢、宣纸、帛上并加以装裱的卷轴画。国画是中国的传统绘画形式，是用毛笔蘸水、墨、彩作画于绢或纸上。工具和材料有毛笔、墨、国画颜料、宣纸、绢等，题材可分人物、山水、花鸟等，技法可分具象和写意。中国画在内容和艺术创作上，体现了古人对自然、社会及与之相关联的政治、哲学、宗教、道德、文艺等方面的认知。\n \n    国画从题材上分为人物、山水、花鸟三类，从表现形式上可分为工笔、写意两种\n \n    中国画讲究形式美，构图不受时间、空间的限制，也不受焦点透视的束缚，画面空白的运用独具特色。多采用散点透视法 ( 即可移动的远近法)，使得视野宽广辽阔，构图灵活自由，画中的物象可以随意列置，冲破了时间与空间的局限\n \n  国画营造的空间多种多样，但其中最主要的有三种，即：全景式空间、分段式空间和分层式空间 \n \n    从风格样式上看,中国画构图的基本样式是“之”字形构图(又称“S”形构图)。所谓“易”者象也,“之”字形运动就是变化,就是延续,就是转化,就是周而复始。因此,“之”字形构图是中国画中最基本的构图,其他形式都是在此基础上变化发展而成的</string>
		<key>h</key>
		<integer>229</integer>
		<key>w</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://wx2.sinaimg.cn/mw690/006beUyPgy1fhlhpuyqw7j305k06d74d.jpg</string>
	</dict>
</array>
</plist>
