<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>970308_.png</string>
		<key>name</key>
		<string>970308_</string>
		<key>img1</key>
		<string>shangpin1.png</string>
		<key>img2</key>
		<string>shangpin2.png</string>
		<key>img3</key>
		<string>shangpin3.png</string>
		<key>price</key>
		<string>100</string>
		<key>oldPrice</key>
		<string>200</string>
		<key>content</key>
		<string>刚买5天的衣服，质量保证很好，9成新，有意者请与我联系。</string>
		<key>phone</key>
		<string>15543563223</string>
		<key>like</key>
		<string>1</string>
		<key>comment</key>
		<string>2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>970309_.png</string>
		<key>name</key>
		<string>970309_</string>
		<key>img1</key>
		<string>shangpin4.png</string>
		<key>img2</key>
		<string>shangpin5.png</string>
		<key>img3</key>
		<string>shangpin6.png</string>
		<key>price</key>
		<string>200</string>
		<key>oldPrice</key>
		<string>300</string>
		<key>content</key>
		<string>刚买5天的衣服，质量保证很好，眼镜仅仅使用了一个星期，无磨损，有意者请与我联系。</string>
		<key>phone</key>
		<string>13846641577</string>
		<key>like</key>
		<string>2</string>
		<key>comment</key>
		<string>3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>970310_.png</string>
		<key>name</key>
		<string>970310_</string>
		<key>img1</key>
		<string>shangpin7.png</string>
		<key>img2</key>
		<string>shangpin8.png</string>
		<key>img3</key>
		<string>shangpin9.png</string>
		<key>price</key>
		<string>300</string>
		<key>oldPrice</key>
		<string>400</string>
		<key>content</key>
		<string>刚买5天的鞋，质量保证很好，9成新，无异味，有意者请与我联系。</string>
		<key>phone</key>
		<string>18745816996</string>
		<key>like</key>
		<string>3</string>
		<key>comment</key>
		<string>4</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>970308_.png</string>
		<key>name</key>
		<string>970311_</string>
		<key>img1</key>
		<string>shangpin10.png</string>
		<key>img2</key>
		<string>shangpin11.png</string>
		<key>img3</key>
		<string>shangpin12.png</string>
		<key>price</key>
		<string>400</string>
		<key>oldPrice</key>
		<string>500</string>
		<key>content</key>
		<string>刚买5天的化妆品，质量保证很好，9成新，附赠零食和5米长的网线，有意者请与我联系。</string>
		<key>phone</key>
		<string>18645802222</string>
		<key>like</key>
		<string>4</string>
		<key>comment</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>970309_.png</string>
		<key>name</key>
		<string>970312_</string>
		<key>img1</key>
		<string>shangpin1.png</string>
		<key>img2</key>
		<string>shangpin4.png</string>
		<key>img3</key>
		<string>shangpin7.png</string>
		<key>price</key>
		<string>500</string>
		<key>oldPrice</key>
		<string>600</string>
		<key>content</key>
		<string>刚买5天的衣服，质量保证很好，9成新，有意者请与我联系。</string>
		<key>phone</key>
		<string>15543563221</string>
		<key>like</key>
		<string>5</string>
		<key>comment</key>
		<string>6</string>
	</dict>
</array>
</plist>
